body {
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.35;
    margin: 0;
    padding: 0;
}

/* Big Laz */
a {
    color: #d87140;
}

/* default spacing for small screen */
.container {
    margin: 0 auto;
    max-width: 700px;
    padding: 2em;
    text-align: center;
}

.container h2 {
    border-radius: 5px;
    background: rgba(51, 51, 51, 0.9);
    border: 2px solid black;
    padding: 5px
}

.container p {
    border-radius: 5px;
    margin: 1.4em 0;
    background: rgba(51, 51, 51, 0.9);
    border: 2px solid black;
    padding: 5px
}

#container {
    border-radius: 5px;
    margin: 1.4em 0;
    background: rgba(51, 51, 51, 0.9);
    border: 2px solid black;
    padding: 5px;
    margin: 0 auto;
    max-width: 700px;
    padding: 5px;
    text-align: center;
 }

.logo {
    width: 108px;
    max-width: 100%;
}
